<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :head %>
      <%= yield :head %>
    <% else %>
      <title><%="Tyche's Hand | A Dark Twist on Blackjack"%></title>
      <meta name="description" content="Wager your life in this high-stakes blackjack game. Face a cunning enemy in a twisted battle of luck and strategy. Will you outsmart fate or lose it all?"
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'application' %>
    <%= stylesheet_packs_with_chunks_tag 'application' %>
  </head>

  <body id='<%= action_name %>'>
    <%= yield %>
  </body>
</html>
